body {
    font-family: 'Inter', sans-serif;
    background-color: #111827; /* Dark blue-gray background */
    color: #E5E7EB; /* Light gray text */
}
        
.glass-effect {
    background: rgba(31, 41, 55, 0.5); /* Semi-transparent dark gray */
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}


.accent-color {
    color: #38BDF8; /* Sky blue */
}
        

.bg-accent {
    background-color: #38BDF8;
}
        
		
.border-accent {
    border-color: #38BDF8;
}
        
		
.skill-tag {
    background-color: #374151; /* Medium gray */
    color: #D1D5DB; /* Lighter gray */
}